/*mobile version*/
@media all and (min-width : 0px){
    body{
        background: url(photos/bg.jpg);
        background-size: cover;
        height: 700px;

    }
    h1,h2,h3,h4{
        text-align: center;
        font-weight: 10;
        text-align: center;
        color: white;
        text-shadow: 1px .2px 2px rgb(71, 71, 71); 
        
    }

    hr{
        display: block;
        width: 60%;
        margin: 30px auto;
    }
    .main_header{
        background: transparent;
        position: relative;
    }

    .main_header h1,a{
        color: white;
        text-decoration: none;
        text-align: center;

    }
    .main_header p{
        line-height: 20px;
        padding:15px;
        border-radius: 5px;
        letter-spacing: 1.2px;
        line-height: 18px;
        /* background: rgba(0, 0, 0, 0.377); */
        color: rgb(255, 255, 255);
        text-align: center;
        width: 80%;
        margin: 10px auto 0;
        font-weight: 10;
    }
    
    .main_content p{
        margin: auto 10px;
    }
    .profilePic{
        width: 100px;
        height: 100px;;
        display: block;
        border-radius: 50%;
        margin: 20px auto 0;
        box-shadow: 0 0 .5em rgb(0, 0, 0);    


    }
    .default_Link{
        color: white;
    }
    .main_content_body{
        color:white;
        text-align: center;
        letter-spacing: 3px;
}
.footer_content{
        background: white;
        border-radius: 10px 10px 0 0 ;
        position: fixed;
        bottom: 0;
        width: 100%;
}

.footer_content li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;

}

    .footer_content ul{
        text-align: center left;
        list-style: none;
        
}
    .footer_content li{
        margin:0;
    }

    .container_button{
        padding:25px;
        box-sizing: border-box;
        margin: 30px auto; 
    }


    .redirect_button{
        font-weight: 500;
        display: block;
        padding: 10px;
        margin: auto;
        width: 50%;
        border:solid 2px white;
        border-radius: 20px;
        box-shadow: 0 0 4px rgba(87, 87, 87, 0.281);    
    }
    
}
/*
desktop version
*/

@media all and (min-width : 786px){
    body{
        background: url(photos/bg.jpg);
        background-size:cover;
        
    }
    h1,h2,h3,h4{
        text-align: center;
        color: black;
        text-shadow: 1px .2px 2px rgb(121, 121, 121); 
    }
    hr{
        display: none;
    }
    .main_header{
        background-size: cover;
        box-sizing: border-box;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }


    .main_header p{
        width: 35%;
        margin:1px auto 100px;
        padding: 10px;
        border-radius: 10px;
        text-shadow: 1px 1px rgba(129, 129, 129, 0.438);;
    }

    .profilePic{
        width: 100px;
        height: 100px;;
        display: block;
        border-radius: 50%;
        margin: 50px auto 0;
        box-shadow: 0 0 .5em rgb(0, 0, 0);    
    }

    .sobre_mim{
        color: white; 
        text-align: center; 
        width: 250px; 
        margin: 150px auto 0;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .default_Link{
        border-bottom: rgba(255, 255, 255, 0.74);
        color: black;
        text-decoration: none;
        text-align: center;
    }

    .default_button{
        width: 200px;
        color: white;
        background:rgb(0, 133, 88);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        transition: ease-in-out .3s;


    }
    .default_button:hover{
        background:rgb(0, 170, 113);
    }
    .main_content p{
        text-align: left;
    }
    .main_content_body{
        letter-spacing: normal;
        color:black;
        transition: 2.3s;
        display: flex;
        flex-flow: row wrap;
        width: 54%;
        margin-left: 40%;
    }

    .redirect_button{
        border: solid .5px #CCC;
        display: block;
        padding: 10px;
        margin: auto;
        width: 20%;
        background: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.801);
        border-radius: 20px;
        transition: linear .2s;
    }

    .redirect_button:hover{
        width:21.5% ;
    }
    .footer_content{
        background: transparent;
        position: fixed;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .footer_content ul{
        display: block;
        padding: 0;
        text-align: center;
        width: 50%;
        margin: 75px auto 10px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.5);

    }
    .footer_content li{
        list-style:none;
        display: inline-block;
        padding: 5px;

        

    }

    .footer_content a:hover{
        transition: .3s;
        border-bottom: solid 2px rgb(0, 133, 88);

    }
    


}
