/*mobile version*/
@media all and (min-width : 0px){

    body{
        background: url(../photos/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }
    h1,h2,h3,h4{
        text-align: center;
        font-weight: 10;
        text-align: center;
        color: white;
        text-shadow: 1px .2px 2px rgb(71, 71, 71); 
        
    }
    a{
        text-decoration: none;
        color: black;
        margin:10px;
    }
    .home_page{
        background:white;
        padding:5px;
        text-align: center;
        border-radius: 0 0 10px 10px;
        position: fixed;
        width: 97%;
        top: 0;
        left: 0;
    }

    .home_page img{
        width: 24px;

    }

    .default_div{
        border: solid 2px white;
        width: 98%;
        height: 160px;
        display: block;
        margin: 40px auto 10px; 
        color: white;
        text-align: center;
    }

    .tyler_job{
        background: url(images/tyler.jpg);
        background-position: center;
        color: transparent;
        background-size: cover;
        border: none;
    }


    .footer_content{
        background: white;
        border-radius: 10px 10px 0 0 ;
        position: fixed;
        bottom: 0;
        width: 100%;
}
.footer_content ul{
    padding: 0;
    list-style: none;
    text-align: center;
    display: block;
    
}

 .footer_content li{
    list-style: none;
    display: inline-block;
    padding: 5px;


}

   

    .container_button{
        border-radius: 5px;;
        padding:25px;
        box-sizing: border-box;
        margin: 30px auto 90px; 
        text-align: center;
    }

    .container_button ul{
        list-style: none;
        padding: 0;

    }

    .container_button li{
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.534);
        padding: 5px 10px;
        margin: 0 auto 5px;
        transition:cubic-bezier(1,-0.83,0,1.65);
        

    }

    .container_button li:active{
        background:rgba(187, 187, 187, 0.534);
    }

    .container_button a{
        text-decoration: none;
        color: black;
    }

    
}

@media all and (min-width: 500px){

    .container_jobs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px auto;
        
    }

    .default_div{
        display: inline-block;
        width: 400px;
        height:250px;
        border-radius: 10px;
        transition: .5s;
    }

    .default_div:hover{
        transform: translate(0, -10px);
    }


    .tyler_job{
        background-size: cover;
        background-position: center;
    }

    
    .container_button{
        width: 30%;
        border-radius: 5px;;
        padding:25px;
        box-sizing: border-box;
        margin: 30px auto 90px; 
        text-align: center;
    }

    .container_button ul{
        list-style: none;
        padding: 0;

    }

    .container_button li{
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.534);
        padding: 5px 10px;
        margin: 0 auto 5px;
        transition:cubic-bezier(1,-0.83,0,1.65);
        

    }

    .container_button li:hover{
        background:rgba(187, 187, 187, 0.534);
    }

    .container_button a{
        text-decoration: none;
        color: black;
    }


    .footer_content{
        background: transparent;
        position: fixed;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .footer_content ul{
        display: block;
        padding: 0;
        text-align: center;
        width: 50%;
        margin: 75px auto 10px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.5);

    }
    .footer_content li{
        list-style:none;
        display: inline-block;
        padding: 5px;

        

    }

    .footer_content a:hover{
        transition: .3s;
        border-bottom: solid 2px rgb(0, 133, 88);

    }
    
}